@import 'normalize.css';
@import 'variable.scss';
@import 'reset.scss';
@import 'utility.scss';

/* Navbar */
.navbar {
  background-color: $primary;
  color: #fff;
  height: 70px;

  .flex {
    justify-content: space-between;
  }

  ul {
    display: flex;
  }

  a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;

    &:hover {
      border-bottom: 2px #fff solid;
    }
  }
}

/* Showcase */
.showcase {
  height: 400px;
  background-color: $primary;
  color: #fff;
  position: relative;

  &::after,
  &::before {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background-color: #fff;
    transform: skewY(-3deg);
  }

  h1 {
    font-size: 40px;
  }

  p {
    margin: 20px 0;
  }

  .grid {
    grid-template-columns: 55% 45%;
    gap: 30px;
    overflow: visible;
  }

  .showcase-form {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;

    .form-control {
      margin: 30px 0;
    }

    input[type='text'],
    input[type='email'] {
      border: 0;
      border-bottom: 1px solid #b4becb;
      width: 100%;
      padding: 3px;
      font-size: 16px;
    }
  }
}

/* Stats */
.stats {
  padding-top: 100px;

  &-heading {
    max-width: 500px;
    margin: auto;
  }

  .grid {
    h3 {
      font-size: 35px;
      font-weight: 500;
    }
    p {
      font-size: 20px;
    }
  }
}

/* CLI */
.cli {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    & > *:first-child {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
    }
  }
}

/* Cloud */
.cloud {
  .grid {
    grid-template-columns: 4fr 3fr;
  }
}
